@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    
    --darkpink:#FFC7C7;
    --pink:#FFE2E2;
    --gray:#F6F6F6;
    --darkgray:#8785A2;

   
    


    --gradient:linear-gradient(90deg,var(--darkpink),var(--pink));
    --gradient2:linear-gradient(90deg,rgb(228, 130, 147),var(--darkpink));
    --gradient3:linear-gradient(90deg,#0f0c29,#302b63,#24243e);
    --gradient4:linear-gradient(90deg,#000428,#004e92);
     --gradient5:linear-gradient(90deg,#FEAC5E,#C779D0,#4BC0C8);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--gradient3);
    color:#fff;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}
body{
    background:var(--gradient3);
}


section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}

.btn{
    display: inline-block;
    margin-top:1rem ;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient4);
    font-size: 1.7rem;
    color:rgb(247, 244, 247);
    cursor: pointer;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.05);
    transition: all .3s linear;

}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background: var(--gradient);
    color:aquamarine;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--gradient3);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: var(--gray);
}

header .logo span{
    color: red;
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--gray);
}

header .navbar a:hover{
    color:aquamarine;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%,100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-2.5rem);
    }

}

.home .content h3{
    font-size: 5.5rem;
    color:aqua;
    
}

.home .content h3 span{
    font-size: 5.5rem;
    color:aqua;
}

.home .content p{
    font-size: 1.7rem;
    color: var(--gray);
    padding: 1rem 0;
}



.features .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .container .box{
  
    flex:1 1 30rem ;
    background:transparent;
    border-radius: .5rem;
    border:.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.features .container .box img{
    height: 15rem;
}

.features .container .box h3{
    font-size: 2rem;
    color:rgb(247, 244, 247);
    padding-top: 1rem;
}

.features .container .box p{
    font-size: 1.5rem;
    color:var(--gray);
    padding-top: 1rem 0;
}

.about .column-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
    
.about .column-about .image{
    flex: 1 1 40rem;

}
.about .column-about .image img{
    width: 100%;
    padding: 1rem;
    
}
.about .column-about .content{
    flex: 1 1 40rem;
    padding: 2rem;
    
}

.about .column-about .content h3{
    font-size: 2.4rem;
    color:aqua;
}

.about .column-about .content p{
    font-size: 1.7rem;
    color: var(--gray);
    padding: 1rem 0;
}


.swiper {
        width: 50%;
        
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background:transparent;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        
        object-fit: cover;
      }
.swiper-slide .box .user .comment{
          color: #f0eff8;
      }
/*footer*/
.footer{
   margin-top: 50px;
    background: #000428;
    padding-top: 1rem 0; 
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2rem;

}

.footer .box-container .box h3{
   font-size: 2.5rem;
   padding: 1rem 0;
   color: aqua;
   text-decoration: underline;
   text-underline-offset: 1rem;
    
}

.footer .box-container .box a {
    color: #F6F6F6;
    font-size: 1.5rem;

}

.footer .box-container .box p {
    color: #F6F6F6;
font-size: 1.5rem;
}